{% load static %}

<div class="container">
    <div style="height: 100vh;">
        <div class="d-flex align-items-center" style="height: 100%;">
            <div class="card offset-4 col-4 p-3">
                <div class="card-title">
                    <h4>Авторизация</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'users:login' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="text" value="{{ next }}"/>
                        {% if form.non_field_errors %}
                            <div class="form-error" style="font-size: 14px;"><strong>{{ form.non_field_errors }}</strong></div>
                        {% endif %}
                        <p>
                            <label class="form-label" for="id_username">Имя пользователя</label>
                            <input class="form-control" type="text" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} name="username" autofocus="true" autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
                        </p>
                        <p>
                            <label class="form-label" for="id_password">Пароль</label>
                            <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password">
                        </p>
                        <button class="btn border mt-2" type="submit">Войти</button>
                    </form>
                </div>
                <div class="card-footer mt-4">
                    <p style="font-size: 12px;">Данный сервис предназначен только для соотвествующего персонала и является закрытым для общего использования.</p>
                    <p style="font-size: 12px;"><strong>Если по каким по причинам вы не можете Авторизоваться - вам нужно обратиться к администратору.</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>