{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MailSender</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if catg_selected == 1 %} active {% endif %}" aria-current="page" href="/">Главная страница</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if catg_selected == 2 %} active {% endif %}" aria-current="page" href="/messages/">Центр сообщений</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if catg_selected == 3 %} active {% endif %}" aria-current="page" href="/clients/">Центр клиентов</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link  {% if catg_selected == 5 %} active {% endif %} " aria-current="page" href="/mails/">Центр рассылок</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item dropdown">
                <a class="nav-link  dropdown-toggle {% if catg_selected == 6 %} active {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page" href="/login/">Для администратора</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/registration/">Добавить персонал</a></li>
                    <li><a class="dropdown-item" href="/admin/">Панель администратора</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
      </div>
      <div class="position-absolute top-50 translate-middle" style="right: 0;">
          <div class="d-flex justify-content-center align-items-center">
            <h6 class="m-0 me-2">{{ user.get_username }}</h6>
            <form action="{% url 'users:logout' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="submit">Выйти</button>
            </form>
          </div>
      </div>
    </div>
</nav>