{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card p-3">
        <div class="d-flex card-title justify-content-between">
            <h2>Список сообщений</h2>
            {% if not moderator and not content_manager %}
            <a href="{% url 'mess:create_mess' %}" class="btn border" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);">Создать сообщение</a>
            {% endif %}
        </div>
        <div class="card-body">
            {% include 'includes/messages/messages.html' %}
        </div>
    </div>
</div>
{% include 'paginate.html' %}
{% endblock content %}