{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>Регистрация персонала</h1>
            <form action="{% url 'users:reg' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit">Добавить</button>
                <a class="btn border" href="{% url 'mess:main' %}">Отменить</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}