{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="card p-3">
        <div class="offset-1 col-10">
            <h3 class="text-center">Восстановление пароля</h3>
            <div class="card m-2 p-2">
                <div class="card-body text-center">
                    <p>Ссылка для восстановления пароля была выслана на ваш почтовый ящик</p>
                    <p><strong>Пожалуйста не сообщайте не кому ваш пароль</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}