{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="card p-3">
        <div class="offset-1 col-10">
            <h3 class="text-center">Изменение пароля</h3>
            <div class="card bg-body-tertiary mt-4 p-2" style="border-radius: 8px; box-shadow: 0 1px 2px 0 rgba(0,0,0,.16);" >
                <div class="card-body text-center">
                    <p>Новый пароль был успешно сохранен!</p>
                    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'users:user' request.user.username %}">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}